= @user.name + "さん"

MakeHabitsをご利用いただきありがとうございます！
下記のリンクにアクセスしてアカウントを有効化してください。
（アカウントが有効化されていないと、パスワードを忘れたときに再設定することができません。）
= edit_account_activation_url(@user.activation_token, email: @user.email)
