%p
  = @user.name + "さん"
%p
  MakeHabitsをご利用いただきありがとうございます！
  %br
  下記のリンクにアクセスしてアカウントを有効化してください。
  %br
  （アカウントが有効化されていないとパスワードを変更することができません。）

= link_to "アカウントを有効化する", edit_account_activation_url(@user.activation_token,
                                                                email: @user.email)
