.container.user-delete-wrapper
  .card.card-container
    .jumbotron
      %ul
        %li.mb-4
          アカウントを削除すると、これまでに作成されたデータは全て削除されます。
        %li
          削除されたデータを復旧することはできません。
    = link_to "アカウントを削除する", user_path(@user), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger"
