@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@mixin form-divide($line-width) {
  text-align: center;
  margin-top: 1.5rem;
  font-size: .8rem;
  opacity: 0.5;
  position: relative;
  &::before {
    content: "";
    display: block;
    height: 1px;
    width: $line-width;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 0;
  }
  &::after {
    content: "";
    display: block;
    height: 1px;
    width: $line-width;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    right: 0;
  }
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Helvetica", "M PLUS 1p", "serif";
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.page-wrapper {
  flex: 1;  // footerを最下部に固定するため
}

// header
header {
  .navbar {
    padding: .8rem;
  }
  .navbar-nav li {
    padding-right: 20px;
  }
  .nav-link {
    font-size: 1.1em;
  }
  .user-img {
    border-radius: 50%;
    height: 30px;
    margin-right: 1px;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  .dropdown-item {
    padding: 1rem 1.5rem;
    &:active {
      background-color: #f8f8f8;
      color: #000;
    }
  }
}

// error message
.error-message {
  font-size: .8rem;
}

// flash
.alert {
  margin: 0;
  border-radius: 0;
}

// top page
.background-img {
  position: relative;
}
.img-caption {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
}
.img-caption h1 {
  font-size: 500%;
  text-shadow: 1px 1px 15px #000;
}
.img-caption h3 {
  font-size: 180%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.padding {
  padding: 2.5rem 0 3.5rem;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 1px solid #b4b4b4;
  width: 50%;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
}
.description {
  line-height: 3;
  letter-spacing: .05rem;
}
.btn-gradient {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
  &:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
  &:hover {
    text-decoration: none;
    color: white;
  }
}

// signup, login
.card-container {
  background-color: #f7f7f7;
  padding: 50px;
  margin: 2rem auto;
  max-width: 400px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.placeholder {
  font-size: .8rem;
  color: #555;
}
.invite-text {
  display: inline-block;
  margin-top: .8rem;
  font-size: .9rem;
}
.btn-twitter {
  background-color: #55acee;
  color: white;
  &:hover {
    color: white;
    background-color: darken(#55acee, 10%)
  }
}
.divide-text-signup {
  @include form-divide(50px);
}
.divide-text-login {
  @include form-divide(100px)
}

// password reset, account activation
.password-reset-wrapper, .account-activation-wrapper {
  max-width: 800px;
  .heading {
    font-weight: 600;
    border-bottom: .7px solid #ccc;
    margin: 3rem 0 2rem;
    padding-bottom: .7rem
  }
  p {
    line-height: 2.5;
  }
}

// user edit
.user-edit-wrapper {
  .nav-tabs.nav-justified {
    border-bottom: none;
  .select-edit-tab {
    cursor: pointer;
    color: #dee2e6;
    border-bottom: 1px solid #dee2e6;
    }
    .select-edit-tab.active {
      color: rgba(0, 0, 0, 0.7);
      border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    }
  }
  .invite-delete {
    display: block;
    color: #81bef7;
    &:hover {
      text-decoration:  none;
      color: darken(#81bef7, 10%)
    }
  }
}

// user delete
.user-delete-wrapper {
  .jumbotron {
    background-color: #ffeff9;
    border: 1px solid #f9d9f8;
    padding: 2rem 2rem;
  }
  li {
    opacity: 0.7;
    font-size: .9rem;
  }
}

// user index
.user-index-wrapper {
  width: 100%;
  padding: .5rem;
  table {
    table-layout: fixed;
  }
  .user-id {
    width: 10vw;
  }
  .user-name {
    width: 20vw;
    overflow: scroll;
  }
  .user-email {
    width: 50vw;
    overflow: scroll;
  }
  .user-delete {
    width: 10vw;
  }
}

// habit select
.habits-select-wrapper {
  .jumbotron {
    background-color: #f8f8f8;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  }
  .lead {
    font-size: 1.5rem;
    line-height: 3rem;
    letter-spacing: .15rem;
  }
  .btn-info {
    border-bottom: solid 4px #0f6674;
    &:hover {
      background-color: #17a2b8;
    }
    &:active {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
      border-bottom: none;
    }
  }
  .btn-warning {
    border-bottom: solid 4px #b98b00;
    &:hover {
      background-color: #ffc107;
    }
    &:active {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
      border-bottom: none;
    }
  }
}

// makes new, quits new
.makes-new-wrapper, .quits-new-wrapper {
  .step-bar {
    display: flex;
    max-width: 700px;
    position: relative;
    margin: 3.5rem auto 1.5rem;
    padding: 0;
    text-align: center;
  }
  .step-bar li {
    font-size: 12px;
    list-style: none;
    position: relative;
    width: 33.333%;
  }
  .step-bar li:after {
    background: #D0E1F9;
    content: "";
    width: calc(100% - 24px);
    height: 4px;
    position: absolute;
    left: calc(-50% + 12px);
    top: 10px;
  }
  .step-bar li:first-child:after {
    display: none;
  }
  .step-bar li span {
    background: #D0E1F9;
    color: #ffffff;
    display: inline-block;
    height: 24px;
    margin-bottom: 5px;
    line-height: 24px;
    width: 24px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .step-bar .visited:after {
    background: #4D648D;
  }
  .step-bar .visited span {
    background: #4D648D;
  }
  .jumbotron {
    background-color: #f8f8f8;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    padding: 4rem 2rem 3rem;
    position: relative;
  }
  .lead {
    font-size: 1.5rem;
    line-height: 3.5rem;
    letter-spacing: .1rem;
  }
  .form-control {
    width: 75%;
    margin: auto;
  }
  .back-icon {
    color: #000;
    position: absolute;
    top: 20px;
    left: 30px;
  }
  .btn {
    width: 25%;
  }
  ::placeholder {
    color: rgba(134, 164, 164, 0.7);
  }
  .hint-text {
    font-size: 1.2rem;
    color: #17a2b8;
    &:hover {
      color: #0f6674;
      text-decoration: none;
    }
  }
  .modal-content {
    p {
      line-height: 1.6rem;
      margin-bottom: 1.5rem;
    }
  }
}

// make show, quit show
.makes-show-wrapper, .quits-show-wrapper {
  p {
    margin: 0;
  }

  .jumbotron {
    max-width: 600px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    .title {
      border-radius: 3px 3px 0 0;
    }
    .section-title {
      padding-top: 1rem;
      opacity: .7;
    }
    .content {
      padding: 1rem 0 1.5rem;
      font-size: 1.6rem;
      font-weight: 600;
    }
    .progressRange {
      padding: 1rem 0 1.5rem;
      input[type="range"] {
        width: 65%;
        cursor: pointer;
      }
      span {
        position: absolute;
        margin-left: 8px;
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
      }
    }
  }
  .btn {
    font-size: .9rem;
  }
}
.makes-show-wrapper {
  .title {
    background-color: #ccffcc;
  }
}
.quits-show-wrapper {
  .title {
    background-color: #ffffd7;
  }
}

// users show
.user-show-wrapper {
  h1 {
    font-size: 2rem;
    opacity: 0.7;
  }
  .nav-tabs {
    border-bottom: none;
    .nav-item {
      width : 25%;
      .nav-link {
        border-radius: .25rem;
        text-align: center;
        border: 1px solid #17A2B8;
        color: #17A2B8;
        &.active {
          background-color: #17A2B8;
          color: white;
        }
      }
    }
  }
  .jumbotron {
    background-color: #f8f8f8;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    .rule-empty-text {
      font-size: 1.5rem;
      padding: 3rem;
      text-align: center;
      line-height: 4;
      letter-spacing: .05rem;
    }
    .habit {
      padding: 1.5rem .5rem;
      position: relative;
      &:hover {
        background-color: #dedede;
      }
      a {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
      }
      .title {
        display: inline-block;
        width: 80%;
        font-size: 1.3rem;
      }
      .number {
        display: inline-block;
        width: 10%;
        font-size: 1.2rem;
      }
    }
  }
}

// footer
footer {
  min-height: 10vh;
  background-color: #3f3f3f;
  color: #d5d5d5;
  display: flex;
  justify-content: center;
  align-items: center;
}

// media query
// 中デバイス用（小さめパソコン、大きめタブレット）
@media (max-width: 991.98px) {
  .img-caption h1 {
    font-size: 350%;
  }
  .img-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .5rem;
  }
  .display-4 {
    font-size: 250%;
  }
  .description {
    font-size: 110%;
  }
  .btn-signup {
    margin-top: 3rem !important;
  }
}

// 小デバイス用（小さめタブレット）
@media (max-width: 767.98px) {
  header {
    .nav-item {
      border-top: 1px solid #dee2e6;
    }
    .nav-link {
      padding: .7rem 1rem;
    }
  }
  .img-caption h1 {
    font-size: 250%;
  }
  .img-caption h3 {
    font-size: 110%;
  }
  .display-4 {
    font-size: 180%;
  }
  .welcome hr {
    width: 40%;
  }
  .description {
    font-size: 90%;
  }
  .invite-text {
    display: inline-block;
    margin-top: 1.2rem;
    font-size: .7rem;
  }
  .password-reset-wrapper, .account-activation-wrapper {
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: .8rem;
    }
    .btn {
      width: 100%;
    }
  }
  .remember-text {
    font-size: .8rem;
    position: relative;
    top: -1px;
  }
  .divide-text-signup {
    @include form-divide(0);
  }
  .divide-text-login {
    @include form-divide(70px)
  }
  .user-edit-wrapper {
    .select-edit-tab {
      font-size: .8rem;
    }
    .placeholder {
      font-size: .6rem;
    }
    .btn-signup {
      font-size: .8rem;
    }
  }
  .user-delete-wrapper {
    .jumbotron {
      li {
        font-size: .8rem;
      }
    }
    a {
      font-size: .8rem;
    }
  }
  .user-index-wrapper {
    h1 {
      font-size: 1.8rem;
    }
    th {
      font-size: .68rem;
    }
  }
  .habits-select-wrapper {
    .lead {
      font-size: 1rem;
    }
    .btn-info {
      margin: 0!important;
    }
    .btn-warning {
      margin: 2rem 0!important;
    }
  }
  .makes-new-wrapper, .quits-new-wrapper {
    .lead {
      font-size: 1rem;
    }
  }
  .user-show-wrapper {
    h1 {
      font-size: 1.5rem;
    }
    .nav-tabs {
      .nav-item {
        a {
          font-size: .9rem;
        }
      }
    }
    .jumbotron {
      .rule-empty-text {
        font-size: 1.2rem;
      }
      .habit {
        .title {
          font-size: 1.1rem;
        }
        .number {
          font-size: 1.1rem;
        }
      }
    }
  }
}

// 極小デバイス用（スマホ）
@media (max-width: 575.98px) {
  .habits-select-wrapper {
    .jumbotron {
      padding: 4rem 1rem;
    }
  }
  .makes-new-wrapper, .quits-new-wrapper {
    .step-bar li {
      font-size: .7rem;
    }
    .form-control, .btn{
      width: 100%;
    }
    .lead {
      text-align: justify!important;
      letter-spacing: .01rem;
      line-height: 3rem;
      font-size: .85rem;
    }
    .modal-content {
      p {
        font-size: .85rem;
        letter-spacing: .05rem;
      }
    }
  }

  .makes-show-wrapper, .quits-show-wrapper {
    .jumbotron {
      text-align: justify!important;

      .section-title {
        font-size: .8rem;
      }
      .content {
        font-size: 1.2rem;
      }
      .progressRange {
        input[type="range"] {
          width: 85%;
        }
      }
    }
    .btn {
      font-size: .8rem;
    }
  }
  .user-show-wrapper {
    h1 {
      font-size: 1.2rem;
    }
    .nav-tabs {
      .nav-item {
        width : 30%;
        a {
          font-size: .7rem;
        }
        .nav-link {
          padding: .5rem;
        }
      }
    }
    .jumbotron {
      .nav-item {
        a {
          font-size: .8rem!important;
        }
      }
      .nav-link {
        padding: 1rem 0;
      }
      .rule-empty-text {
        font-size: .9rem;
        padding: 3rem 2rem;
      }
      .habit {
        .title {
          font-size: 1rem;
        }
        .number {
          font-size: 1rem;
        }
      }
    }
  }
}
