@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@mixin form-divide($line-width) {
  text-align: center;
  margin-top: 1.5rem;
  font-size: .8rem;
  opacity: 0.5;
  position: relative;
  &::before {
    content: "";
    display: block;
    height: 1px;
    width: $line-width;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 0;
  }
  &::after {
    content: "";
    display: block;
    height: 1px;
    width: $line-width;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    right: 0;
  }
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Helvetica", "M PLUS 1p", "serif";
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.page-wrapper {
  flex: 1;  // footerを最下部に固定するため
}

// header
.navbar {
  padding: .8rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}

// error message
.error-message {
  font-size: .8rem;
}

// flash
.alert {
  margin: 0;
  border-radius: 0;
}

// top page
.background-img {
  position: relative;
}
.img-caption {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: #fff;
}
.img-caption h1 {
  font-size: 500%;
  text-shadow: 1px 1px 15px #000;
}
.img-caption h3 {
  font-size: 180%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.padding {
  padding: 2.5rem 0 3.5rem;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 65%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.description {
  line-height: 200%;
}

// signup, login
.card-container {
  background-color: #f7f7f7;
  padding: 50px;
  margin: 2rem auto;
  max-width: 400px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.placeholder {
  font-size: .8rem;
  color: #555;
}
.invite-text {
  display: inline-block;
  margin-top: .8rem;
  font-size: .9rem;
}
.btn-twitter {
  background-color: #55acee;
  color: white;
  &:hover {
    color: white;
    background-color: darken(#55acee, 10%)
  }
}
.divide-text-signup {
  @include form-divide(50px);
}
.divide-text-login {
  @include form-divide(100px)
}

// password reset
.password-reset-wrapper {
  max-width: 800px;
  .heading {
    font-weight: 600;
    border-bottom: .7px solid #ccc;
    margin: 3rem 0 2rem;
    padding-bottom: .7rem
  }
}

// user edit
.user-edit-wrapper {
  .nav-tabs.nav-justified {
    border-bottom: none;
  .select-edit-tab {
    cursor: pointer;
    color: #dee2e6;
    border-bottom: 1px solid #dee2e6;
    }
    .select-edit-tab.active {
      color: rgba(0, 0, 0, 0.7);
      border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    }
  }
  .invite-delete {
    display: block;
    color: #81bef7;
    &:hover {
      text-decoration:  none;
      color: darken(#81bef7, 10%)
    }
  }
}

// user delete
.user-delete-wrapper {
  .jumbotron {
    background-color: #ffeff9;
    border: 1px solid #f9d9f8;
    padding: 2rem 2rem;
  }
  li {
    opacity: 0.7;
    font-size: .9rem;
  }
}

// user index
.user-index-wrapper {
  width: 100%;
  padding: .5rem;
  table {
    table-layout: fixed;
  }
  .user-id {
    width: 10vw;
  }
  .user-name {
    width: 20vw;
    overflow: scroll;
  }
  .user-email {
    width: 50vw;
    overflow: scroll;
  }
  .user-delete {
    width: 10vw;
  }
}

// habit select
.habits-select-wrapper {
  .jumbotron {
    background-color: #f8f8f8;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  }
  .lead {
    font-size: 1.5rem;
    line-height: 3rem;
    letter-spacing: .15rem;
  }
  .btn-info {
    border-bottom: solid 4px #0c525d;
    &:hover {
      background-color: #17a2b8;
    }
    &:active {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
      border-bottom: none;
    }
  }
  .btn-warning {
    border-bottom: solid 4px #a07800;
    &:hover {
      background-color: #ffc107;
    }
    &:active {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
      border-bottom: none;
    }
  }
}

// makes new, quits new
.makes-new-wrapper, .quits-new-wrapper {
  .jumbotron {
    background-color: #f8f8f8;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    padding: 4rem 2rem 3rem;
    position: relative;
  }
  .lead {
    font-size: 1.5rem;
    line-height: 3.5rem;
    letter-spacing: .1rem;
  }
  .form-control {
    width: 75%;
    margin: auto;
  }
  .back-icon {
    color: #000;
    position: absolute;
    top: 20px;
    left: 30px;
  }
  .btn {
    width: 25%;
  }
  ::placeholder {
    color: rgba(134, 164, 164, 0.7);
  }
}

// footer
footer {
  min-height: 10vh;
  background-color: #3f3f3f;
  color: #d5d5d5;
  display: flex;
  justify-content: center;
  align-items: center;
}

// media query
// 中デバイス用（タブレット）
@media (max-width: 991.98px) {
  .img-caption h1 {
    font-size: 350%;
  }
  .img-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .5rem;
  }
  .display-4 {
    font-size: 250%;
  }
  .description {
    font-size: 110%;
  }
  .btn-signup {
    margin-top: 3rem !important;
  }
}

// 小デバイス用（スマホ）
@media (max-width: 767.98px) {
  .img-caption h1 {
    font-size: 250%;
  }
  .img-caption h3 {
    font-size: 110%;
  }
  .display-4 {
    font-size: 180%;
  }
  .welcome hr {
    border-top: 1px solid #b4b4b4;
    width: 60%;
    margin-top: .3rem;
    margin-bottom: 1rem;
  }
  .description {
    font-size: 90%;
  }
  .invite-text {
    display: inline-block;
    margin-top: 1.2rem;
    font-size: .7rem;
  }
  .password-reset-wrapper {
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: .8rem;
    }
    .btn {
      width: 100%;
    }
  }
  .remember-text {
    font-size: .8rem;
    position: relative;
    top: -1px;
  }
  .divide-text-signup {
    @include form-divide(0);
  }
  .divide-text-login {
    @include form-divide(70px)
  }
  .user-edit-wrapper {
    .select-edit-tab {
      font-size: .8rem;
    }
    .placeholder {
      font-size: .6rem;
    }
    .btn-signup {
      font-size: .8rem;
    }
  }
  .user-delete-wrapper {
    .jumbotron {
      li {
        font-size: .8rem;
      }
    }
    a {
      font-size: .8rem;
    }
  }
  .user-index-wrapper {
    h1 {
      font-size: 1.8rem;
    }
    th {
      font-size: .68rem;
    }
  }
  .habits-select-wrapper {
    .lead {
      font-size: 1rem;
    }
    .btn-info {
      margin: 0!important;
    }
    .btn-warning {
      margin: 2rem 0!important;
    }
  }
  .makes-new-wrapper, .quits-new-wrapper {
    .lead {
      font-size: 1rem;
    }
  }
}

// 極小デバイス用（スマホ縦向き）
@media (max-width: 575.98px) {
  .habits-select-wrapper {
    .jumbotron {
      padding: 4rem 1rem;
    }
  }
  .makes-new-wrapper, .quits-new-wrapper {
    .form-control, .btn{
      width: 100%;
    }
    .lead {
      text-align: justify!important;
      letter-spacing: .05rem;
    }
  }
}
